@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
h1 {
	color:#808080;
    font-family: myFirstFont;
}

.squareBlue + .squareGreen {
    border-left: 0;
}
.squareGreen + .squareBlue {
    border-left: 0;
}
.squareBlue {
	width: 100px;
	height: 100px;
	background: #56BAEC;
	float: left;
	border: 1px solid black;
	border-collapse:collapse;
}
.squareGreen {
	width: 100px;
	height: 100px;
	background: #B0E57C;
	float: left;
	border: 1px solid black;
	border-collapse:collapse;
}
.mTop2{
	margin-top:2%;
}
.centeredDiv{
	margin-left:auto;
	margin-right:auto;
	width:51%;
    padding: 10px;
}
.rSize{
	width:100px;
	height:100px;
}
.w500{
	width: 520px;
}
.w50{
	width: 50px;
}
.p2{
	padding:2%;
}
.m1{
	padding: 10px;
}
img{
	//border: 1px solid black;
}
.ml1{
	margin-left:1%;
}